<h1>Slotify examples</h1>

<hr>

<%= render "example", id: "example-one" do |partial| %>
  <% partial.with_subtitle class: "size-xl" do %>
    This is the <%= tag.em "subtitle" %>
  <% end %>

  <% partial.with_date Time.zone.now.days_ago(3) %>

  <% partial.with_website_link "example.com", "https://example.com", target: "_blank", data: {controller: "preview-link"} %>

  <% partial.with_list do |list| %>
    <% list.with_item "first thing" %> 
    <% list.with_item "second thing", class: "text-green-700" %>
    <% list.with_item "third thing" %>
  <% end %>

  <% partial.with_list title: "Todo" do |list| %>
    <% list.with_item "eat" %> 
    <% list.with_item "sleep" %>
    <% list.with_item "rave" %>
    <% list.with_item "repeat" %>
  <% end %>

  <% partial.with_quote citation: "A. Person", class: "text-lg" do %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <% end %>

  <% partial.with_quote do %>
    <p>Non quos explicabo eius hic quaerat laboriosam incidunt numquam.</p>
    <p>
      Consectetur facilis quae quis, porro nemo illo officiis dolores
      deserunt rerum amet voluptatem?
    </p>
  <% end %>

  <p>Some content to be yielded.</p>
<% end %> 
