<%# locals: (title:, subtitle: "Default subtitle") -%>
<%# slots: (description:, author: "Mark") -%>

<h1 class="title"><%= title %></h1>
<h2 class="subtitle"><%= subtitle %></h2>
<p class="description"><%= description %></p>
<p class="author"><%= author %></p>